.about {
  background-color: #f0f3f7;
  background-image: url("./BackAbout.jpg");
  margin-top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.opacity {
  opacity: 0.9;
  background-color: rgb(141, 238, 235);
  color: rgb(53, 48, 48);
}

.opacity > h2 {
  color: rgb(53, 48, 48) !important;
}
